<!DOCTYPE html>
<html>
    <head>

        <meta name="description" content="ini adalah web deployment dari tugas deploy microdential 2">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>microblog</title>
        {% endif %}

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    </head>
    <body>
        {% block content %}
            <h1 class="text-center">input data</h1>
            <form class="text-center card" action="" method='POST' name="prediction_form">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.pm10.label }}<br>
                    {{ form.pm10(size=32) }}
                </p>
                <p>
                    {{ form.so2.label }}<br>
                    {{ form.so2(size=32) }}
                </p>
                <p>
                    {{ form.o3.label }}<br>
                    {{ form.o3(size=32) }}
                </p>
                <p>
                    {{ form.no2.label }}<br>
                    {{ form.no2(size=32) }}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <p class="text-center"> {{ messages }} </p>
                {% endif %}
            {% endwith %}

        {% endblock %}

    </body>
</html>